<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!-- 打印日记 -->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- 关闭二级缓存 -->
        <!--<setting name="cacheEnabled" value="false"/>-->
    </settings>

    <!-- 别名的配置 -->
    <typeAliases>
        <typeAlias type="wujiuye.morelove.pojo.User" alias="User"/>
        <typeAlias type="wujiuye.morelove.pojo.Role" alias="Role"/>
        <typeAlias type="wujiuye.morelove.pojo.Album" alias="Album"/>
        <typeAlias type="wujiuye.morelove.pojo.MemorialDay" alias="MemorialDay"/>
        <typeAlias type="wujiuye.morelove.pojo.Itinerary" alias="Itinerary"/>
        <typeAlias type="wujiuye.morelove.pojo.Lover" alias="Lover"/>
        <typeAlias type="wujiuye.morelove.pojo.Lovetime" alias="Lovetime"/>
        <typeAlias type="wujiuye.morelove.pojo.Photos" alias="Photos"/>
        <typeAlias type="wujiuye.morelove.pojo.AddressProvince" alias="Province"/>
        <typeAlias type="wujiuye.morelove.pojo.AddressCity" alias="City"/>
        <typeAlias type="wujiuye.morelove.pojo.AddressArea" alias="Area"/>
        <typeAlias type="wujiuye.morelove.pojo.ScenicArea" alias="ScenicArea"/>
        <typeAlias type="wujiuye.morelove.pojo.ScenicAreaImage" alias="ScenicAreaImage"/>
    </typeAliases>

</configuration>