<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wujiuye.dao.LovetimeDao">

    <resultMap id="rmLovetime" type="Lovetime">
        <id column="id" property="id"/>
        <result column="details" property="details"/>
        <result column="img1_thumb" property="imgThumb1"/>
        <result column="img2_thumb" property="imgThumb2"/>
        <result column="img3_thumb" property="imgThumb3"/>
        <result column="img1" property="img1"/>
        <result column="img2" property="img2"/>
        <result column="img3" property="img3"/>
        <!-- 不在resultMap配置映射的字段都不会被映射，如果想让不被映射的字段为空，需指定int类型的数据为Integer -->
        <result column="state" property="state"/>
        <result column="access_count" property="accessCount"/>
        <result column="create_datetime" property="createDatetime"/>
        <!-- 多对一映射 -->
        <association property="user" columnPrefix="u_" javaType="User">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
            <result column="sex" property="sex"/>
            <result column="head_thumb" property="headThumb"/>
        </association>
    </resultMap>


    <insert id="savaLovetime" parameterType="Lovetime" useGeneratedKeys="true" keyProperty="id">
        insert into tb_time (user_id,details,state
        <if test="img1!=null and imgThumb1!=null">
            ,img1,img1_thumb
        </if>
        <if test="img2!=null and imgThumb2!=null">
            ,img2,img2_thumb
        </if>
        <if test="img3!=null and imgThumb3!=null">
            ,img3,img3_thumb
        </if>
        )
        Values(
        #{user.id},#{details},#{state}
        <if test="img1!=null and imgThumb1!=null">
            ,#{img1},#{imgThumb1}
        </if>
        <if test="img2!=null and imgThumb2!=null">
            ,#{img2},#{imgThumb2}
        </if>
        <if test="img3!=null and imgThumb3!=null">
            ,#{img3},#{imgThumb3}
        </if>
        )
    </insert>

    <!-- <trim prefix="set" suffixOverrides=",">suffixOverrides指定去掉最后一个','号 -->
    <!-- 更新访问次数自增1-->
    <!-- 未删除的记录才能更新访问数量
        sql语句：update tb_time set access_count = access_count+1 where state!=-1 and id=1;
     -->
    <update id="updateLovetimeAccess" parameterType="int">
        update tb_time
        set access_count = access_count+1
        where state!=-1 and id=#{lovetimeId}
    </update>


    <!-- 分页查询,只能是情侣间可用
    (指定状态级别,获取非删除的且状态大于等于指定状态值的)
    删除状态的记录不能获取
    如指定私密状态的可以获取私密的和公开的，
    指定公开状态只能获取公开的
    并按发布时间降序排序 -->
    <select id="queryLovetime" resultMap="rmLovetime">
        select a.*,
        u.id as u_id,
        u.username as u_username,
        u.sex as u_sex,
        u.head_thumb as u_head_thumb
        from tb_time a
        left join tb_user u on u.id=a.user_id
        where a.state!=-1 and a.state >= #{state} and u.id in (#{lover.man.id},#{lover.women.id})
        order by a.create_datetime desc limit #{start},#{count}
    </select>


    <!--
        分页查询，获取公开的，
        并按发布时间降序排序
    -->
    <select id="queryPublicLovetime" resultMap="rmLovetime">
        select a.*,
        u.id as u_id,
        u.username as u_username,
        u.sex as u_sex,
        u.head_thumb as u_head_thumb
        from tb_time a
        left join tb_user u on u.id=a.user_id
        where a.state=1
        order by a.create_datetime desc limit #{start},#{count}
    </select>



    <!-- 获取记录详情数据 -->
    <select id="getLovetime" resultMap="rmLovetime" parameterType="int">
         select a.*,
        u.id as u_id,
        u.username as u_username,
        u.sex as u_sex,
        u.head_thumb as u_head_thumb
        from tb_time a
        left join tb_user u on u.id=a.user_id
        where a.state!=-1 and a.id = #{lovetimeId}
    </select>

</mapper>