<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.wujiuye.dao.PhotosDao">

    <resultMap id="rmPhotos" type="Photos">
        <id column="id" property="id"/>
        <result column="img" property="img"/>
        <result column="img_thumb" property="imgThumb"/>
        <result column="img_details" property="imgDetails"/>
        <result column="create_datetime" property="createDatetime"/>
        <result column="update_datetime" property="updateDatetime"/>
        <!--<association property="album" columnPrefix="al_" resultMap="com.wujiuye.dao.AlbumDao.rmAlbum"/>-->
        <!-- 避免循环映射 -->
        <association property="album" columnPrefix="al_" javaType="Album">
            <id column="id" property="id"/>
            <result column="album_name" property="albumName"/>
        </association>
        <association property="user" columnPrefix="u_" resultMap="com.wujiuye.dao.UserDao.rmUser"/>
    </resultMap>

    <insert id="uploadPhotos" parameterType="Photos" useGeneratedKeys="true" keyProperty="id">
        insert into tb_photos (
          user_id,
          album_id)
        values (
          #{user.id},
          #{album.id})
    </insert>

    <update id="updatePhotos" parameterType="Photos">
        update tb_photos
        <trim prefix="set" suffixOverrides=",">
            <if test="img!=null">
                img=#{img},
            </if>
            <if test="imgThumb!=null">
                img_thumb=#{imgThumb},
            </if>
            <if test="imgDetails!=null">
                img_details=#{imgDetails},
            </if>
        </trim>
        where id=#{id}
    </update>

    <select id="photosWithAlbum" resultMap="rmPhotos">
        select p.*,
        a.id as al_id,
        a.album_name as al_album_name,
        u.id as u_id,
        u.username as u_username
        from tb_photos p
        left join tb_album as a on a.id=p.album_id
        left join tb_user as u on u.id=p.user_id
        where p.album_id=#{albumId}
    </select>

</mapper>