<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.wujiuye.dao.UserDao">

    <!-- 在mybatis配置文件中配置了别名，所以这里type可以使用别名 -->
    <resultMap id="rmUser" type="User">
        <!-- 需要映射的字段一定要加在这里，即使属性名与列名相同 -->
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="realname" property="realname"/>
        <result column="sex" property="sex"/>
        <result column="email" property="email"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="birthday" property="birthday"/>
        <result column="head_thumb" property="headThumb"/>
        <result column="create_datetime" property="createDatetime"/>
        <result column="update_datetime" property="updateDatetime"/>
    </resultMap>

    <!-- 更新禁用状态 -->
    <update id="updateUser" parameterType="User">
        update tb_user
        <trim prefix="set" suffixOverrides=",">
            <if test="disable!=null">
                disable=#{disable},
            </if>
        </trim>
        where id=#{id}
    </update>

    <select id="getUserWithUsername" resultMap="rmUser" parameterType="String">
        select * from tb_user where username = #{username}
    </select>

    <select id="getUserWithPhone" resultMap="rmUser" parameterType="String">
        select * from tb_user where phone_number=#{phoneNumber}
    </select>

    <select id="rolesListWithUser" resultType="String" parameterType="String">
        select r.role_author from tb_user u
            inner join tb_user_role ur on u.id=ur.user_id
            inner join tb_role r on r.id=ur.role_id
        where u.username=#{username}
    </select>

    <insert id="registUser" useGeneratedKeys="true" keyProperty="id" parameterType="User">
        insert into tb_user (
          username,
          password,
          realname,
          sex,
          birthday,
          email,
          phone_number,
          disable)
        values (
          #{username},
          #{password},
          #{realname},
          #{sex},
          #{birthday},
          #{email},
          #{phoneNumber},
          #{disable})
    </insert>

    <!-- 获取用户的登录状态信息，判断是否密码输入错误多次被禁用登录功能 -->
    <select id="queryUserLoginInfo" resultType="java.util.HashMap" parameterType="User">
        select user_id as userId,
          last_login_device as lastLoginDevice,
          last_login_datetime as lastLoginDatetime,
          password_error_count as passwordErrorCount,
          disable_state as disableState,
          disable_datetime as disableDatetime
        from tb_user_login where user_id = #{id}
    </select>

    <!-- 添加用户登录状态信息 -->
    <insert id="addUserLoginInfo">
        insert into tb_user_login(user_id) values (#{userId})
    </insert>

    <!-- 更新用户登录状态信息 -->
    <update id="updateUserLoginInfo" >
        update tb_user_login
        <trim prefix="set" suffixOverrides=",">
            <if test="lastLoginDevice!=null">
                last_login_device=#{lastLoginDevice},
            </if>
            <if test="lastLoginDatetime!=null">
                last_login_datetime=#{lastLoginDatetime},
            </if>
            <if test="passwordErrorCount>=0">
                password_error_count=#{passwordErrorCount},
            </if>
        </trim>
        where user_id=#{userId}
    </update>

</mapper>