<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!-- 打印日记 -->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <typeAlias type="wjy.weiai7lv.entity.User" alias="User"/>
        <typeAlias type="wjy.weiai7lv.entity.Role" alias="Role"/>
        <typeAlias type="wjy.weiai7lv.entity.Album" alias="Album"/>
        <typeAlias type="wjy.weiai7lv.entity.MemorialDay" alias="MemorialDay"/>
        <typeAlias type="wjy.weiai7lv.entity.Itinerary" alias="Itinerary"/>
        <typeAlias type="wjy.weiai7lv.entity.Lover" alias="Lover"/>
        <typeAlias type="wjy.weiai7lv.entity.Lovetime" alias="Lovetime"/>
        <typeAlias type="wjy.weiai7lv.entity.Photos" alias="Photos"/>
        <typeAlias type="wjy.weiai7lv.entity.AddressProvince" alias="Province"/>
        <typeAlias type="wjy.weiai7lv.entity.AddressCity" alias="City"/>
        <typeAlias type="wjy.weiai7lv.entity.AddressArea" alias="Area"/>
        <typeAlias type="wjy.weiai7lv.entity.ScenicArea" alias="ScenicArea"/>
        <typeAlias type="wjy.weiai7lv.entity.ScenicAreaImage" alias="ScenicAreaImage"/>
    </typeAliases>
    
</configuration>