<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wjy.weiaichat.dao.MessageDao">

    <resultMap id="msgMap" type="Message">
        <id column="id" property="id"/>
        <result column="msg_type" property="msgType"/>
        <result column="message" property="message"/>
        <result column="create_datetime" property="createDate"/>
        <!-- 只获取发送方的就行了，接收方是自己 -->
        <association property="sendUser" columnPrefix="u_" javaType="User">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
            <result column="head_thumb" property="headThumb"/>
        </association>
    </resultMap>


    <select id="allNotReadMsg" resultMap="msgMap">
        select m.id,m.msg_type,m.message,m.state,m.create_datetime,
        u.id as u_id,
        u.username as u_username,
        u.head_thumb as u_head_thumb
        from tb_chat_message as m
        left join tb_user as u on u.id=m.send_uid
        where m.state = 0 and m.read_uid = #{readUserId} and m.send_uid = #{sendUserId}
        order by m.create_datetime desc
    </select>

    <select id="getMsgHistory" resultMap="msgMap">
        select m.id,m.msg_type,m.message,m.state,m.create_datetime,
        u.id as u_id,
        u.username as u_username,
        u.head_thumb as u_head_thumb
        from tb_chat_message as m
        left join tb_user as u on u.id=m.send_uid
        where m.read_uid = #{readUserId} and m.send_uid = #{sendUserId}
        order by m.create_datetime desc
        limit #{startIndex},#{pageSize}
    </select>

    <insert id="savaMessage" parameterType="Message" useGeneratedKeys="true" keyProperty="id">
        insert into tb_chat_message (
          send_uid,
          read_uid,
          msg_type,
          message
        )values (
          #{sendUser.id},
          #{readUser.id},
          #{msgType},
          #{message}
        )
    </insert>


    <!--
        原符号       <        <=      >       >=       &      '       "
        替换符号    &lt;    &lt;=   &gt;    &gt;=   &amp;   &apos;  &quot;
        另外：
        大于等于：<![CDATA[ >= ]]>
        小于等于：<![CDATA[ <= ]]>
    -->
    <update id="updateMsgState">
        update tb_chat_message
        set
        state=#{tagerState}
        where state=#{dscState} and create_datetime &lt;= #{beforeDate} and read_uid = #{readUserId} and send_uid = #{sendUserId}
    </update>

</mapper>