<?xml version="1.0" encoding="UTF-8"?>
<!-- 需要引入context、mvc这三个spring的名称空间 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- bean扫描，控制器需要使用@controller声明类 -->
    <context:component-scan base-package="wjy.weiai7lv.controller,wjy.weiai7lv.exception"/>

    <!-- 开启注解驱动，使用注解映射器和注解适配器 -->
    <mvc:annotation-driven>
        <!-- 指定消息转换器 -->
        <mvc:message-converters>
            <ref bean="mappingJackson2HttpMessageConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 视图前缀 -->
        <property name="prefix" value="/WEB-INF/pages/"/>
        <!-- 视图后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 使用spring mvc提供的MappingJackson2HttpMessageConverter转换器，利用jackson工具包将返回的数据转换为json字符串 -->
    <bean id="mappingJackson2HttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <!-- 支持的媒体类型 -->
        <property name="supportedMediaTypes">
            <list>
                <value>text/json;charset=UTF-8</value>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
        <property name="objectMapper">
            <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                <!-- 设置不输出值为null的字段-->
                <property name="serializationInclusion" value="NON_NULL"/>
            </bean>
        </property>
    </bean>

    <!-- 文件上传,id不能少，id="multipartResolver" -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置上传文件的最大为100MB 100*1024*1024，maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->
        <property name="maxUploadSize" value="104857600" />
        <!-- 文件默认编码 -->
        <property name="defaultEncoding" value="utf-8" />
    </bean>

</beans>